/* CSS MEDIA QUERY */
/* **************************************************************** */

/* ****************** */
/* *** Smartphone *** */
@media only screen and (min-device-width: 320px) and (orientation: portrait){
}
/* *************** */
/* *** Tablet *** */
/* Vertical */
@media only screen and (min-device-width: 768px) and (orientation:portrait){

    #contenido{
        grid-template-columns: 0px repeat(12, 1fr);
        grid-template-rows: auto 1fr 100px;
        grid-column-gap: 24px;
    }
    /* Subgrid HEADER */
    header{
        display: grid;
        grid-template-rows: 80px 300px;
    }
    nav{
        background-color: red;
        grid-row: 1 / 2;
    }
    .banner{
        grid-row: 2 / 3;
        background-color: blue;
    }

}

/* Horizontal */
@media only screen and (min-device-width: 1024px) and (orientation:landscape){

}

/* **************** */
/* *** Desktop *** */
@media only screen and (min-width: 1100px){
    header{
        height: 80px;
    }
    footer{
        height: 200px;
    }
    /* cambio de nav */
}